.UsersContent {
  background: #E5E5E5;
  padding: 60px 95px 0px 95px;
  height: 100%;
}

.UsersContent__header {
  font-weight: 600;
  font-size: 30px;
  line-height: 39px;
  color: #2E2D35;
  margin-bottom: 30px;
}
